
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

body {
  width: 100%;
  min-width: 320px;
  height: auto;
  background: #efefef;
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  padding: 1.5rem;
  width: 100%;
  height: 70px;
  color: #6070ff;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.nav-items {
  background: #6070ff;
  opacity: 0.95;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 812px;
  z-index: 99;
  padding-top: 1em;
  display: none;
}

.nav-items li {
  padding: 0.7rem;
}

.card-list-item a {
  color: #7a869a;
  white-space: nowrap;
}

.card-list-item1 a {
  color: #344563;
  white-space: nowrap;
}

.nav-items li a {
  font-weight: 600;
  font-size: 2rem;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  margin-left: 2.5rem;
}

#menu {
  font-size: 20px;
  font-weight: 600;
  width: 16px;
}

#close_menu {
  color: #fff;
  position: relative;
  right: -85%;
  top: 3%;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.text-container {
  background: #fff;
  background-image: url('Images/background_img.png');
  background-size: 100% 90%;
  background-repeat: no-repeat;
  left: 0;
  width: 100%;
  height: auto;
  margin-top: 0;
  display: flex;
  padding: 6.25rem  1.5rem 0 1.5rem;
  flex-direction: column;
  border-bottom-left-radius: 100px;
  margin-bottom: 5rem;
}

.text-tiltle {
  font-weight: 700;
  font-size: 2.5rem;
  display: flex;
  flex-wrap: nowrap;
  color: #172b4d;
  margin-top: 1rem;
}

.text-paragraph {
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  margin-block: 0.75rem;
}

.contact-title {
  color: #7f8cff;
  font-size: 1rem;
  font-weight: 500;
}

.contact-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 8.265rem;
}

.contact-list li a {
  color: #505f79;
  font-size: 2rem;
}

.cart {
  width: 100%;
  height: auto;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.cart-normal {
  width: auto;
  height: auto;
  background: #fff;
  border-radius: 16px;
  border: 1px solid #def1e6;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-inline: 2rem;
  margin-top: 5em;
}

.cart-reverse {
  width: auto;
  height: auto;
  background: #fff;
  border-radius: 16px;
  border: 1px solid #def1e6;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-inline: 2rem;
  margin-top: 5em;
}

.cart-image2,
.cart-image1 {
  height: 220px;
  border-radius: 8px;
  width: 100%;
}

.cart-text {
  margin: 10px 0;
}

.cart-title {
  color: #172b4d;
  font-family: 'Poppins'sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
}

.card-list {
  margin-block: 1.25rem;
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
}

.card-list li img {
  color: #c1c7d0;
  width: 8px;
  height: 8px;
  margin-top: 11px;
  border-bottom: 4px;
}

.cart-text p {
  margin-top: -1rem;
  font-family: 'Poppins'sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.pro-lang li {
  display: inline-block;
  margin: 15px 0 15px 5px;
  font-weight: 500;
  font-size: 12px;
  color: #6070ff;
  background: #ebebff;
  padding: 5px 8px;
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
}

.btn-project {
  background: transparent;
  padding: 1rem;
  margin-block: 1rem 2rem;
  color: #6070ff;
  border: 1px solid #6070ff;
  border-radius: 16px;
  font-weight: 500;
  font-size: 25px;
  cursor: pointer;
  outline: none;
}

.btn-get {
  background: transparent;
  padding: 1rem;
  margin-block: 1rem 2rem;
  color: #6070ff;
  border: 1px solid #6070ff;
  border-radius: 16px;
  font-weight: 500;
  font-size: 25px;
  cursor: pointer;
  outline: none;
}

.btn-project:hover,
.btn-get:hover {
  background-color: #6070ff;
  color: #fff;
  transition: width 2s ease-in-out 1s;
}

.btn-project:active,
.btn-get:active {
  background-color: #2230d2;
  color: #fff;
}

.btn-project:disabled,
.btn-get:disabled {
  background-color: #e5e5e5;
  color: #5e6c84;
}

.about-me {
  background-color: #fff;
  padding: 9rem 1.5rem 7rem 1.5rem;
  border-top-right-radius: 100px;
  min-height: 1062.15px;
  min-width: 100%;
  margin-top: 7em;
}

.about-me h2 {
  font-weight: 700;
  font-size: 2.5rem;
  color: #172b4d;
  line-height: 3.25rem;
  overflow-y: hidden;
}

.about-me p {
  font-weight: 400;
  font-size: 1rem;
  color: #344563;
  line-height: 1.5rem;
  margin-block: 12px;
}

.contact-title2 {
  color: #7f8cff;
  font-size: 1rem;
  font-weight: 500;
}

.contact-list2 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-block: 1.625rem 0.5rem;
}

.contact-list2 li a {
  color: #505f79;
  font-size: 2rem;
}

.pro-languages {
  margin-top: 1.5rem;
}

.skills-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.languages-list {
  color: #000;
  align-items: center;
}

.languages-list li img {
  margin-left: 12px;
}

.languages-list li img,
.languages-list li span {
  margin-block: 12px;
  font-weight: 500;
  font-size: 15px;
  color: #253858;
}

.list-head {
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 36px;
  color: #000;
}

.skill {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-block: 1.92rem;
  background-color: #f7f7f9;
  border-radius: 10px;
}

.work-skills {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  margin-right: 1rem;
  margin-block: 0.75rem;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.icon {
  color: #505f79;
}

.contact-form {
  background: #6070ff;
  background-image: url('Images/bottom_im.png');
  background-repeat: no-repeat;
  background-position-x: right;
  width: 100%;
  height: 779px;
  padding: 24px;
  position: relative;
  top: 0;
  left: 0;
  border-top-left-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.contact-text {
  margin-top: 70px;
  width: 100%;
  height: auto;
  text-align: center;
  margin-left: 10px;
}

.contact-text h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  color: #fff;
}

.contact-text p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  color: #ebebff;
  line-height: 28px;
  margin-top: 12px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.contact-container input {
  width: 100%;
  padding: 1rem;
  height: 3rem;
  border-radius: 8px;
  outline: none;
  background: #fff;
  margin: 10px 0;
  font-family: 'Poppins', sans-serif;
  color: #172b4d;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  border: 1px solid #cfd8dc;
  background-color: #fff;
}

.contact-container input::placeholder {
  color: #172b4d;
}

.contact-container textarea {
  width: 100%;
  padding: 1rem;
  outline: none;
  background: #fff;
  margin: 10px 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  font-family: 'Poppins', sans-serif;
  color: #b3bac5;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  height: 170px;
}

.contact-container textarea::placeholder {
  color: #b3bac5;
}

.cont-btn {
  background: #fff;
  padding: 12px 16px;
  width: 142px;
  height: 48px;
  margin-top: 22px;
  color: #6070ff;
  border-radius: 8px;
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
  outline: none;
  display: flex;
  letter-spacing: 3%;
  border: none;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
}

.cont-btn:hover {
  background-color: #7e7ed6;
  color: white;
}

.cont-btn:active {
  background-color: #2230d2;
  color: white;
}


[data-popup="popup-window"] {
  position: fixed;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  -webkit-box-shadow: 10px 8px 119px 200px rgba(0, 0, 0, 0.45);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ebecf094;
  overflow-y: auto;
  z-index: 100;
  visibility: hidden;
}
.container1{
width: 90%;
margin: 5px auto;
background-color: #fff;
border-radius: 20px;
padding: 24px;
}
.popup-image {
  width: 100%;
}

.pop-list{
  margin-block: .5em;
}

.popicons li{
 margin-block: 1em 0 !important;
}
.flex-two {
  display: flex;
  flex-direction: column;
}

.popup-close {
  font-size: 1rem;
  position: absolute;
  right: 10%;
  top: 2%;
  color: rgba(103, 121, 142, 1);
  cursor: pointer;
}

.text {
  margin-left: 0;
  width: 100%;
  font-size: 15px;
  font-weight: 400;
}

.buttons button {
  margin-top: -5%;
  background: transparent;
  padding: 0.5rem 1rem;
  margin-block: 1rem 2rem;
  color: #6070ff;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
}

#first{
  margin-right: 1%;
}

#error {
  color: red;
  background-color: #fff;
  font-size: 17px;
  text-align: center;
  border-radius: 5px;
  position: relative;
  top: 0;
}


@media screen and (min-width: 768px) {
  * {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
  }

  header {
    width: 100%;
    padding-inline: 100px;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 1;
    overflow-y: hidden;
  }

  .logo {
    color: #6070ff;
    font-size: 21px;
    font-weight: 700;
    overflow-y: hidden;
  }

  #menu {
    display: none;
  }

  .nav-items {
    display: flex;
    position: relative;
    background-color: #fff;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-top: 0;
  }

  .card-list-item a {
    color: #7a869a;
    font-size: 18px;
    font-weight: 400;
    white-space: nowrap;
  }

  .card-list-item20 a {
    color: #7a869a;
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
  }

  .card-list-item1 a {
    color: #344563;
    font-size: 18px;
    font-weight: 500;
  }

  .card-list-item10 a {
    color: #344563;
    font-size: 15px;
    font-weight: 500;
  }

  .nav-items li a {
    font-size: 15px;
    font-weight: 500;
    color: #344563;
    cursor: pointer;
  }

  .text-container {
    background: #fff;
    background-image: url('Images/headder/Header\ bg@2x.png');
    background-size: 100% 90%;
    background-repeat: no-repeat;
    height: auto;
    margin-top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 100px;
    margin-block: 4.5rem;
  }

  .text {
    margin-left: 130px;
    width: 75%;
  }

  .text-tiltle {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    white-space: nowrap;
    color: #172b4d;
    margin-top: 1rem;
    padding-top: 80px;
    overflow-y: hidden;
  }

  .text-paragraph {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
    margin-block: 0.75rem;
    width: 95%;
  }

  .contact {
    margin-left: 130px;
    width: 50%;
  }

  .contact-list {
    margin-bottom: 16rem;
  }

  .cart-normal {
    flex-direction: row;
    width: 90%;
    margin: 5em 2em;
  }

  .cart-image1,
  .cart-image2 {
    width: 100%;
    height: 448px;
  }

  .cart-reverse {
    width: 90%;
    height: auto;
    background: #fff;
    border-radius: 16px;
    border: 1px solid #def1e6;
    padding: 16px;
    display: flex;
    flex-direction: row-reverse;
    margin: 5em 2rem;
  }

  .cart-text {
    width: auto;
    margin: 10px 10px 10px 30px;
  }

  .cart-title {
    font-size: 40px;
  }

  .card-list {
    margin-block: 1.25rem;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    gap: 0.75rem;
  }

  .skill img {
    width: 48px;
    height: 48px;
  }

  .card-list li img {
    color: #c1c7d0;
    width: 8px;
    height: 8px;
  }

  .cart-text p {
    font-size: 16px;
    width: 100%;
  }

  .btn-project {
    background: transparent;
    padding: 1rem;
    margin-block: 1rem 2rem;
    color: #396df2;
    border: 1px solid #6070ff;
    border-radius: 8px;
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
    outline: none;
  }

  .about-me {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 2.25em;
  }

  .sec-one {
    width: 43%;
    padding-left: 5.38em;
  }

  .sec-one h2 {
    font-size: 40px;
    font-weight: 700;
    color: #091e42;
    overflow-y: hidden;
  }

  .sec-one p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
  }

  .btn-get {
    font-size: 17px;
    font-weight: 500;
    color: #396df2;
    background: transparent;
    padding: 1rem;
    margin-block: 1rem 2rem;
    border: 1px solid #6070ff;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    outline: none;
  }

  .pro-languages {
    margin-top: 0;
    width: 57%;
    padding-right: 5.38em;
  }

  .languages-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .skill {
    margin: 2px;
    padding: 10px;
    align-items: center;
    flex-direction: column;
  }

  .skill span {
    padding-left: 12px;
    margin-top: 3% !important;
    font-size: 15px;
    font-weight: 500;
    color: #253858;
    line-height: 20px;
  }

  .work-skills {
    margin-top: 2em;
    overflow-y: hidden;
  }

  .skills-title {
    margin-bottom: 1.2em;
    font-size: 20px;
    font-weight: 500;
    color: #344563;
    overflow-y: hidden;
  }

  .line {
    margin-top: -15px;
  }

  .contact-form {
    width: 100%;
    margin-top: -20%;
    background: #6070ff;
    background-image: url('Images/headder/contact\ form\ background\ shapes.svg');
    background-repeat: no-repeat;
    background-position: top 70px right 40px, left 10%;
    height: 846px;
  }

  .contact-text {
    width: 44%;
    margin: auto;
  }

  .contact-container {
    width: 44%;
    margin: auto;
    margin-top: -4%;
  }

  .contact-container input {
    width: 100%;
    border-radius: 2px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
  }

  .contact-container textarea {
    width: 100%;
    border-radius: 2px;
    margin-bottom: 27px;
  }

  .break {
    display: none;
  }

  .cont-btn {
    margin: auto;
    overflow: hidden;
  }

  [data-popup="popup-window"] {
    position: fixed;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
    -webkit-box-shadow: 10px 8px 119px 200px rgba(0, 0, 0, 0.45);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ebecf094;
    overflow-y: auto;
    z-index: 100;
  }
.container1{
  width: 90%;
  margin: 5px auto;
  background-color: #fff;
  border-radius: 20px;
  padding: 24px;
}

  .popup-image {
    width: 100%;
    height: 500px;
    margin-bottom: 1rem;
    transform: scale(1);
    transform-origin: center center;
  }

  .flex-two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 104%;
  }

  .popup-close {
  font-size: 1rem;
  position: absolute;
  right: 10%;
  top: 7%;
  color: rgba(103, 121, 142, 1);
  cursor: pointer;
  }

  .text-popup {
    width: 70%;
  }


.popup-icon {
  width: 306px;
  margin-right: 0;
}

.popicons{
  margin-left: -2%;
}

#first{
  margin-right: 1%;
}

#error {
  color: red;
  background-color: #fff;
  font-size: 17px;
  text-align: center;
  border-radius: 5px;
  position: relative;
  top: -10px;
}
}
